.event-list {
    margin-top: 90px;

    .wrapper {
        @include clearfix();
        text-align: center;
    }

    article {
        text-align: left;
        position: relative;
        display: inline-block;
        width: 200px;
        height: 190px;
        padding: 15px 15px 30px;
        border-radius: 5px;
        margin: 0 10px 50px 10px;
        border: 1px solid lighten(#604b86, 15%);
        transition: background $timing $ease-std;

        &:hover,
        &:focus,
        &.past {
            border: 1px solid lighten(#604b86, 5%);
            background: lighten(#604b86, 5%);
        }

        &.active {
            border: 1px solid #fff;
            background: #fff;

            a {
                color: #000;
            }
        }
        
        a {
            color: #fff;
            display: block;
            width: 100%;
            height: 100%;
        }

        .month {
            position: absolute;
            top: -30px;
            lefT: 0;
            color: #fff;
            @include bold();
            @include font-size(12);
        }

        .tag {
            position: relative;
            display: block;
            padding-left: 20px;
            @include bold();
            @include font-size(12);

            &.icon:before {
                position: absolute;
                left: 0px;
                top: 2px;
                @include font-size(12);
                color: #fe5a7d;
            }
            &.talk:before {
                color: #fc5b7d;
                content: "\E005";
            }
            &.workshop:before {
                color: #01d08a;
                content: "\E002";
            }
            &.social:before {
                color: #ffcb20;
                content: "\E004";
            }
            &.hack:before {
                color: #4990e2;
                content: "\E003";
            }
        }

        strong {
            position: absolute;
            display: block;
            margin-top: 20px;
        }

        .date {
            position: absolute;
            display: block;
            bottom: 10px;
            opacity: 0.7;
            @include font-size(12);
        }
    }

    @include breakpoint(0, 444px) {

        article {
            width: 80%;
            height: 160px;
            margin-bottom: 20px;

            &.past {
                display: none;
            }
        }

        .month {
            display: none;
        }
    }
}

.event .strapline {
    position: relative;
    height: 300px;
    padding-right: 390px;

    h2 {
        @include vertical-align();
        color: #fff;
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
        @include bold();
        @include font-size(40);
    }

    .breakout {
        position: absolute;
        top: 0;
        right: 20px;
        width: 350px;
        height: 390px;
        padding: 50px 20px 23px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);

        .date {
            display: block;
            text-align: center;
            @include bold();
            @include font-size(26);
            line-height: 1;
        }

        .day {
            display: block;
            text-align: center;
            @include font-size(14);
        }

        .info {
            margin-top: 45px;
            border-radius: 5px;
            background: #f4f4f4;
            padding: 12px 0;

            .value {
                width: 49%;
                display: inline-block;
                text-align: center;
                @include bold();
                @include font-size(22);

                &:first-child {
                    border-right: 1px solid #d7d7d7;
                }
            }

            .label {
                display: block;
                @include reg();
                @include font-size(14);
            }
        }

        .attendance {
            padding: 20px 0 30px;

            .avatars {

                span {
                    display: block;
                    float: left;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 0 0 0 -20px;

                    &:first-child {
                        margin: 0 0 0 0;
                    }
                }

                img {

                }
            }

            .attendees {
                display: inline-block;
                padding: 0 0 0 20px;
                @include font-size(14);
                @include bold();

                a {
                    display: block;
                    color: #fe5a7d;
                }
            }

        }

        .purchase {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            @include bold();
            @include font-size(16);
        }
    }
}

.event .content {
    max-width: 1160px;
    min-height: 500px;
    margin: 115px auto 0;
    @include font-size(14);

    .col-wrapper {
        @include clearfix();
        border-radius: 5px;
        background: linear-gradient(90deg, #fff calc(100% - 390px), #fafafa calc(100% - 390px));
        box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.2);
    }

    .col {
        display: inline-block;

        &:nth-child(2) {
            float: left;
            width: calc(100% - 390px);
            padding: 70px 40px 75px 35px;
        }

        &:nth-child(1) {
            float: right;
            width: 390px;
            padding: 120px 40px 75px 40px;
        }
    }

    h3 {
        @include bold();
        @include font-size(26);
        margin: 0 0 20px;
    }
}

.schedule {
    list-style: none;
    margin: 0;
    padding: 0 0 50px;

    li {
        padding: 13px 0;
        border-bottom: 1px solid #e6e6e6;

        &:last-child {
            border-bottom: none;
        }
    }

    .time {
        color: lighten(#000, 30%);
        display: inline-block;
        width: 100px;
        @include bold();
    }
}

.notice {
    padding: 25px 20px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
}

.event .sidebar {

    .calendar {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: calc(70% / 6);
            text-align: center;
            margin-right: calc(10% / 6);

            .day {
                @include font-size(12);
            }

            .date {
                display: block;
                border-radius: 5px;
                border: 1px solid #e6e6e6;
                background: #fff;
                padding: 8px 0;
                @include font-size(14);
            }

            .month {
                display: none;
            }

            &.active {
                width: 20%;

                .date {
                    color: #fff;
                    border: 1px solid #fe5a7d;
                    background: #fe5a7d;
                    @include bold();
                    @include font-size(25);
                    line-height: 1.1;
                }

                .month {
                    display: block;
                    @include reg();
                    @include font-size(12);
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .date-time {
        margin-top: 30px;
    }

    .meta {
        position: relative;
        display: block;
        padding-left: 40px;
        margin-bottom: 15px;
        @include font-size(14);

        strong {

        }

        &.icon:before {
            position: absolute;
            left: 0px;
            top: 3px;
            @include font-size(16);
            color: #fe5a7d;
        }
        &.date:before {
            content: "\E009";
        }
        &.start:before {
            content: "\E008";
        }
        &.duration:before {
            left: 2px;
            content: "\E007";
        }
        &.pin:before {
            left: 3px;
            content: "\E006";
        }
    }

    .meta-box {
        border-top: 2px solid #f0f0f0;
        margin-top: 50px;
        padding-top: 30px;

        h4 {
            @include bold();
            @include font-size(18);
            margin: 0 0 20px;
        }
    }

    .location {

        .map {
            margin-bottom: 20px;
        }
    }

    .sponsors {

        img {

        }
    }

}
