//  Footer
// --------------------------------------------------

footer {
    margin-top: 70px;
    border-top: 1px solid #7f65ae;
    padding: 25px 0;

    .container {
        max-width: 1160px;
    }

    .logo {
        float: left;
        display: block;
        fill: #9c87c0;
        width: calc(145px * 0.75);
        height: calc(32px * 0.75);
        background: url('../img/logo-mono.svg');
        opacity: 0.5;
        margin-right: 20px;

        span {
            position: absolute;
            width: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            height: 1px;
            border: 0;
            clip: rect(0 0 0 0);
        }
        
        &:hover,
        &:active {
            opacity: 0.7;
        }
    }

    nav {
        float: left;

        &.social {
            float: right;
        }
    }

    ul {

        li {
            display: inline-block;
            margin: 0 10px;

            a {
                display: block;
                color: #fff;
                @include bold();
                @include font-size(14);
                transition: color 0.1s ease-in-out;

                &:hover,
                &:active {
                    opacity: 0.8;
                }

                span {
                    position: absolute;
                    width: 1px;
                    margin: -1px;
                    padding: 0;
                    overflow: hidden;
                    height: 1px;
                    border: 0;
                    clip: rect(0 0 0 0);
                }

                &.twitter {
                    width: 30px;
                    height: 23px;
                    background: url('../img/twitter.svg');
                }
            }
        }
    }
}