.home header {

    @include breakpoint(742px) {

        h1 {
            position: relative;
            margin-top: 55px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
        }

        .logo {
            width: calc(200px);
            height: calc(58px);
        }
    }
}

.home .hero {
    position: relative;
    height: 50vh;

    h2 {
        @include bold();
        @include font-size(55);
        @include vertical-align();
        color: #fff;
        text-align: center;
        max-width: 60%;
        margin: 0 auto;

        span {
            display: inline-block;
            border-radius: 5px;
            border: 3px solid #e1e1e9;
            background: #f7f7f9;
            color: #fd597c;
            padding: 0 10px;
        }
    }

    @include breakpoint(0, 1080px) {
        height: 30vh;

        h2 {
            @include font-size(40);
        }
    }

    @include breakpoint(0, 740px) {
        height: 20vh;

        h2 {
            @include font-size(22);
        }
    }
}

.home .cta {

    h3 {
        position: relative;
        text-align: center;
        color: #fff;
        @include font-size(26);

        &:after {
            @include font-size(12);
            @include icons();
            content: "\E001";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -30px;
        }
    }

    @include breakpoint(0, 740px) {

        h3 {
            @include font-size(18);
        }
    }
}

.home .join {
    
    padding: 60px 70px 45px;
    margin: 100px auto 0;
    border-radius: 5px;
    max-width: 700px;
    background: #fff;

    &.loading .loader {
        margin: 0 auto;
    }

    legend {
        @include font-size(26);
        text-align: center;
        margin-bottom: 40px;

        span.legend-note {
            color: #fc5b7d;
        }
    }

    label {
        display: block;
        margin-bottom: 8px;
        position: relative;
    }

    .hidden {
        text-indent: -9999em;
        display: block;
        font-size: 0;
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    input {
        @include font-size(18);
        border-radius: 0;
        position: relative;
        background: #fff;
        border-bottom: 1px solid #eeeeee;
        line-height: 1.4;
        width: 100%;
        display: block;
        color: #454545;
        transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        padding: 10px 0;
        margin-bottom: 40px;
       &.error { border-bottom-color: $error; color: $error; }
    }

    .btn {
        float: right;
        padding: 15px 35px;
        @include font-size(16);
    }

    @include breakpoint(0, 740px) {
        margin-top: 50px;
        max-width: 80%
    }

    @include breakpoint(0, 520px) {
        padding: 60px 50px 45px;

        legend {
            @include font-size(20);
        }

        .btn {
            width: 100%;
        }
    }
}