// Buttons
// --------------------------------------------------

.btn {
	background-color: #01d08a;
	padding: 13px 30px;
	color: white;
	text-decoration: none;
	display: inline-block;
	transition: all $timing $ease-std;
	text-align: center;
	border-radius: 5px;
    font-weight: normal;
    font-style: normal;
	@include font-size(14);
	
	&:hover,
	&:focus {
		color: white;
		background-color: lighten(#01d08a, 10%);
	}
	
	// Colours
	&.purple {
		background-color: #604b86;
		
		&:hover,
		&:focus {
			color: white;
			background-color: lighten(#604b86, 30%);
		}
	}

    &.outline {
        border: 1px solid lighten(#604b86, 10%);
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: lighten(#604b86, 10%);
        }
    }
	
	&.naked {
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: lighten(#604b86, 10%);
        }
	}

	&[disabled] {   
         	background-color: grey;
         	opacity: 0.5;	   
        }
}